@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
}